* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #457b9d;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  color: #f1faee;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
  background: linear-gradient(to bottom, #1d3557, #457b9d);
  box-shadow: 5px 2px 20px #1d3557;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 150px auto;
  gap: 25px;
}

.player-btn {
  display: flex;
  justify-content: space-evenly;
  border: .20em solid black;
  border-radius: 5px;
  background: #f1faee;
  padding: 20px;
}

img {
  width: 170px;
}

button {
  border: none;
  background-color: transparent;
}

.display_round {
  text-align: center;
  border: .20em solid black;
  border-radius: 5px;
  background: #f1faee;
  padding: 20px;
  font: 20px Comic Sans MS, Comic Sans, cursive;
}

.display_score {
  display: flex;
  justify-content: space-around;
  color: #f1faee;
  padding: 20px;
  font: 20px Comic Sans MS, Comic Sans, cursive;
}