* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #649ec2;
  color: black;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  color: #e5e5e5;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
  background: linear-gradient(to bottom, #1d3557, #457b9d);
  box-shadow: 5px 2px 20px #1d3557;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 140px auto;
  gap: 25px;
}

.player-btn {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

button {
  border: .5em solid black;
  border-radius: 50%;
  background-color: #e5e5e5;
}

img {
  padding: 35px;
  width: 200px;
}

.display_round {
  text-align: center;
  border: .20em solid black;
  border-radius: 5px;
  background: #e5e5e5;
  padding: 20px;
  font: 20px Comic Sans MS, Comic Sans, cursive;
}

.display_score {
  display: flex;
  justify-content: space-around;
  color: #f1faee;
  padding: 20px;
  font: 20px Comic Sans MS, Comic Sans, cursive;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #1d3557, #457b9d);
  color: #e5e5e5;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.wrap {
  display: flex;
  align-items: center;
}

.footer img {
  width: 100px;
}